<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32" aria-hidden="true">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Aliaksandr Haiko</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        href="{{url_for('home')}}"
        class="nav-link header-button"
        aria-current="page"
        >About me</a
      >
    </li>
    <li class="nav-item">
      <a href="{{url_for('portfolio')}}" class="nav-link header-button"
        >My portfolio</a
      >
    </li>
  </ul>
</header>
